
<div class="container mx-auto bg-white px-4 py-4 rounded-xl shadow-2xl">
  <div>
    <h3><span class="text-title">Bienvenida, Marcela </span> <span>¿Cuál parámetro te gustaria revisar el dia de hoy?</span></h3>
  </div>

  <!-- primera parte OK-->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 my-12">
    <div class="rounded-xl shadow-md">
      <div class="relative">
        <img class="w-full h-44 object-fill" [src]="imagenUrl+'/ima1.jpg'">
        <!-- <div class="absolute top-0 right-0 bg-transparent text-white w-8 h-8">
          <svg data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z"></path>
          </svg>
        </div> -->
      </div>
    </div>


    <div class="rounded-xl shadow-md">
      <div class="relative">
        <img class="w-full h-44 object-fill" [src]="imagenUrl+'/ima2.jpg'">
        <!-- <div class="absolute top-0 right-0 bg-transparent text-white w-8 h-8">
          <svg data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z"></path>
          </svg>
        </div> -->
      </div>
    </div>


    <div class="rounded-xl shadow-md">
      <div class="relative">
        <img class="w-full h-44 object-fill" [src]="imagenUrl+'/ima3.jpg'">
        <!-- <div class="absolute top-0 right-0 bg-transparent text-white w-8 h-8">
          <svg data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z"></path>
          </svg>
        </div> -->
      </div>
    </div>
  </div>

  <!-- Segunda parte  OK -->
  <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
    <div class="md:col-span-8 grid grid-cols-1 lg:grid-cols-1 my-4">
      <div class="rounded-xl shadow-md">
        <div class="relative">
          <img class="w-full h-80 object-fill"  [src]="imagenUrl+'/ima4.jpg'">
        </div>
        <!-- <canvas id="lineChartId" class="w-full">{{lineChart}}</canvas> -->
      </div>
    </div>
    <div class="md:col-span-4 grid grid-cols-1 lg:grid-cols-1 my-4">
      <div class="rounded-xl shadow-md">
        <div class="relative">
          <img class="w-full h-80 object-fill"  [src]="imagenUrl+'/ima5.jpg'">
        </div>
        <!-- <canvas id="barChartId" class="w-full">{{barChart}}</canvas> -->
      </div>
    </div>
  </div>


  <!-- terceta parte -->
  <div class="grid grid-cols-1 md:grid-cols-12 gap-4 mt-4">
    <div class="md:col-span-8 grid grid-cols-1  md:grid-cols-1 my-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
          <div class="rounded-xl shadow-md">
            <div class="relative">
              <img class="w-full h-32 object-fill" [src]="imagenUrl+'/ima6.jpg'">
            </div>
          </div>

          <div class="rounded-xl shadow-md">
            <div class="relative">
              <img class="w-full h-32 object-fill"  [src]="imagenUrl+'/ima7.jpg'">
            </div>
          </div>

          <div class="rounded-xl shadow-md">
            <div class="relative">
              <img class="w-full h-32 object-fill"  [src]="imagenUrl+'/ima8.jpg'">
            </div>
          </div>

          <div class="rounded-xl shadow-md">
            <div class="relative">
              <img class="w-full h-32 object-fill"  [src]="imagenUrl+'/ima9.jpg'">
            </div>
          </div>
        </div>
    </div>
    <div class="md:col-span-4 grid grid-cols-1 lg:grid-cols-1 my-4">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
          <div class="rounded-xl shadow-md">
            <div class="relative">
              <img class="w-full h-32 object-fill" [src]="imagenUrl+'/ima11.jpg'">
            </div>
          </div>

          <div class="rounded-xl shadow-md">
            <div class="relative">
              <img class="w-full h-32 object-fill" [src]="imagenUrl+'/ima12.jpg'">
            </div>
          </div>
        </div>
    </div>
  </div>

</div>
