/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Angular Material */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Se colocar por conflicto de estilos en elemento <mat-form-field>*/
.mdc-notched-outline__notch {
  border-right: none;
}
